# Ignore all files in the main directory
/*

# Except for these two directories
!/example for run_grading_multiple_tests/
!/older run_grading/

# Ignore specific files
README.md
run_grading_multiple_tests.py
