# Ignore all files in the folder
Batch-grading-for-Coding-Course/*

# Except for these files
!Batch-grading-for-Coding-Course/example for run_grading_multiple_tests
!Batch-grading-for-Coding-Course/older run_grading
!Batch-grading-for-Coding-Course/README.md
!Batch-grading-for-Coding-Course/run_grading_multiple_tests.py
!Batch-grading-for-Coding-Course/.gitignore
!Batch-grading-for-Coding-Course/.gitattributes

